/************************************************************
*****													*****
*****		LIDER DE PROYECTO: SAUL ARROYO G.			*****
*****		PROGRAMADORA: KATERIN CAROLINA PEREZ CRUZ	*****
*****		ThE SaG Corp								*****
*****		ESTILOS DE INDEX							*****
*****													*****
************************************************************/

.titulo
{
	font-family: monterey;
	font-size: 40px;
	font-weight: bold;
}