/************************************************************
*****													*****
*****		LIDER DE PROYECTO: SAUL ARROYO G.			*****
*****		PROGRAMADORA: KATERIN CAROLINA PEREZ CRUZ	*****
*****		ThE SaG Corp								*****
*****		ESTILOS DE INDEX							*****
*****													*****
************************************************************/
.fondo
{
	background: #d2d6de;
}

.Cuadrito
{
	width: 350px;
	/*height: 200px;*/
	background: #002a3a;
	padding: 30px;
}

.textos
{
	width: 95%;
	border-radius: 5px;
	padding:5px 10px;
}

.ini_encabezado{
	font-size: 15px;
	font-weight: bold;
}

.titulo{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}